---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Background from '../components/sections/Background.astro';
import Problem from '../components/sections/Problem.astro';
import Solution from '../components/sections/Solution.astro';
import Promotion from '../components/sections/Promotion.astro';
import Members from '../components/sections/Members.astro';
import Attribution from '../components/sections/Attribution.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Background />
    <Problem />
    <Solution />
    <Promotion />
    <Members />
    <Attribution />
  </main>
  <Footer />
</Layout>

<style is:global>
  main {
    padding-top: 60px;
  }
</style>
